.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} 
body {
  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}


