.App {
  text-align: center;
}
.App-header {
  background-color: #41aaa8;
  min-height: 70px;
  padding: 20px;
  color: white;
  border-bottom: #2c003e 1px solid;
  box-shadow: 1px 5px #2c003e;

}
.App-title {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.App-intro {
  font-size: large;
} 
body {
  background-color: #51dacf;
  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}
.photoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 0px;
  -ms-grid-row-align: center;
}


