
.header {
    border: 5px solid black;
}
.main {
    border: black 1px;
    margin: 20px; 
    background-color: blue;
    padding: 20px;
    border-radius: 25px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}